.md__diploma {
    display: flex;
    justify-content: space-between;

    padding: 2rem 2rem;

}

.md__diploma-info {
    padding: 0 2rem;

    font-family: var(--font-family);
}



@media screen and (max-width: 1200px) {
    .md__diploma {
        flex-direction: column;
    }

    
}

/* @media screen and (max-width: 550px) {
    .gpt3__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .gpt3__footer-links div {
        margin: 1rem 0;
    }

    .gpt3__footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .gpt3__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
} */