.md__shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    padding: 2rem 2rem;
    
    
}

.md__shop-text {
    margin: 0.5rem 2rem;

    font-family: var(--font-family);
    color: black;
}

.md__shop-link {
    margin-bottom: 8px;
}

.md__shop-link a{
    position: relative;
    left: 410px;
    
}

.md__shop-icons_changeColor {
    color: black;
}

.md__shop-icons_changeColor:hover {
    color: grey;
}

@media screen and (max-width: 960px) {
    .md__shop-link {
        display: flex;
        justify-content: flex-end;
        width: 100%;
       
        margin-bottom: 6px;
    }

    .md__shop-link a{
        position: static;
   
    }
}

