.md__weapons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    padding: 2rem 2rem;
    min-height: 500px;
    
    
}

.md__weapons-content {
    margin: 0.5rem 2rem;
    /* align-items: center; */

    font-family: var(--font-family);
    color: white;
}

/* .md__weapons-content h4 {
    align-items: center;
} */

.md__weapons-content img {
    padding: 4px 0px;
    width: 100%;
    height: auto;
    
}



@media screen and (max-width: 1200px) {
    .md__weapons {
        flex-direction: column;
    }

    

    
}